

  /* Меню */
  nav {
 
    top: 0;
    width: 50%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
      margin-left: auto;
margin-right: auto;

  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #ffcc00;
  }

  /* Вміст */
  main {
    padding-top: 80px;
  }

  section {
    padding: 50px 20px;
    min-height: 100vh;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    margin-bottom: 20px;
  }

  .command {
    background-color: #fff;
    border: 5px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
  }

  .copy-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .copy-btn:hover {
    background-color: #0056b3;
  }

  .port-input {
    text-align: center;
    margin: 100px 0 40px;
  }

  input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    text-align: center;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

